@using MongoDBProject.Dtos
@model List<ResultCustomerDto>
@{
    Layout = null;
}

<div class="container">
    <br />
    <br />
    <table class="table table-border">
        <tr>
            <th>#</th>
            <th>Müşteri Adı Soyadı</th>
            <th>Bakiye</th>
            <th>Sil</th>
            <th>Güncelle</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.CustomerId</td>
                <td>@item.CustomerName @item.CustomerSurname</td>
                <td>@item.CustomerBalance</td>
                <td><a href="/Customer/DeleteCustomer/@item.CustomerId" class="btn  btn-danger">Sil</a></td>
                <td><a href="/Customer/UpdateCustomer/@item.CustomerId" class="btn  btn-danger">Güncelle</a></td>
            </tr>

        }
    </table>
    <a href="/Customer/NewCustomer" class="btn  btn-danger">Yeni</a>
</div>